@model FHIR_Demo.Models.CompositionViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>CompositionViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Org)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Org)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Patient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Patient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Practitioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Practitioner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Encounter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Encounter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Observation8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Observation8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_AllergyIntolerance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_AllergyIntolerance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Condition1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Condition1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.section_Condition2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.section_Condition2)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
