@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("您好 " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>

    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "Home" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "Home")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">REST DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "ServerTakeToken" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "ServerTakeToken")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">ServerTakeToken DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "Patient" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "Patient")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Patient DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "CreateResource" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "CreateResource")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">CreateResource DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "EMS" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "EMS")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">EMS DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "EEC_IC" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "EEC_IC")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">EEC_IC DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "EEC_DMS" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "EEC_DMS")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">EEC_DMS DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "EEC_PMR" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "EEC_PMR")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">EEC_PMR DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "Observation" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "Observation")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Observation DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "MedicationRequest" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "MedicationRequest")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span><span class="pcoded-mtext">MedicationRequest DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "MedicationAdministration" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "MedicationAdministration")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-check"></i></span><span class="pcoded-mtext">MedicationAdministration DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "Immunization" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "Immunization")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-check"></i></span><span class="pcoded-mtext">Immunization DashBroad</span></a>
    </li>
    @*後來新增*@
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "Postmanweb" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Index", "Postmanweb")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-check"></i></span><span class="pcoded-mtext">Postmanweb DashBroad</span></a>
    </li>
    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString()== "Composition" & ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
        <a href="@Url.Action("Create", "Composition")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-check"></i></span><span class="pcoded-mtext">Composition DashBroad</span></a>
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("註冊", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
