@model IEnumerable<FHIR_Demo.Models.MedicationRequestViewModel>

@{
    ViewBag.Title = "Index";
    string FHIR_url = "";
    if (Request.Cookies["FHIR_url"] != null)
    {
        FHIR_url = Request.Cookies["FHIR_url"].Value;
    }
    string FHIR_Token = "";
    if (Request.Cookies["FHIR_Token"] != null)
    {
        FHIR_Token = Request.Cookies["FHIR_Token"].Value;
    }
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Ajax.BeginForm("GetRecord", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "ajaxTargetDiv",
                        }))
                        {
                            <label for="exampleInputEmail1">FHIR Server URL & Token</label>
                            <div class="input-group mb-3">
                                <input type="url" name="url" class="form-control" placeholder="http://hapi.fhir.org/baseR4" value="@FHIR_url">
                                <input type="text" name="token" class="form-control" placeholder="token" value="@FHIR_Token">
                            </div>
                            <label for="exampleInputEmail1">REST搜尋</label>
                            <div class="input-group mb-3">
                                <input type="text" name="search" class="form-control" placeholder="search" value="">
                                <div class="input-group-append">
                                    <button type="Submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        }
                        <hr>
                        <div class="table-border-style" id="ajaxTargetDiv">
                            @*@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
            {
                <script type="text/javascript">
                   alert("@ViewBag.AlertMessage");
                   ViewBag.AlertMessage = "";
                </script>
            }*@
                            @if (ViewBag.status != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @ViewBag.status
                                </div>
                            }
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                            else
                            {
                                @*<pre class="json-card"></pre>*@
                                <p>
                                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center align-middle align-content-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.status)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.intent)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.categorys)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.medicationReference)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.medicationCodeableConcept)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.subject)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.authoredOn)
                                                </th>
                                                <th class="text-center align-middle">
                                                    @Html.DisplayNameFor(model => model.dosageInstruction)
                                                </th>
                                                <th class="text-center align-middle">
                                                    @Html.DisplayNameFor(model => model.dispenseRequest)
                                                </th>

                                                <th class="text-center align-middle" style="width:5%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.status)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.intent)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.categorys)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.medicationReference)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @if (item.medicationCodeableConcept != null)
                                                        {
                                                            @:Code：@Html.DisplayFor(modelItem => item.medicationCodeableConcept.Code)<br>
                                                            @:Name：@Html.DisplayFor(modelItem => item.medicationCodeableConcept.Display)
                                                        }

                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.subject)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.authoredOn)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <table class="table table-hover text-center align-middle align-content-center">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dosageInstruction.First().sequence)</th>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dosageInstruction.First().text)</th>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dosageInstruction.First().timing_Code)</th>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dosageInstruction.First().route)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var dosage in item.dosageInstruction)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center align-middle">@dosage.sequence</td>
                                                                        <td class="text-center align-middle">@dosage.text</td>
                                                                        <td class="text-center align-middle">@dosage.timing_Code</td>
                                                                        <td class="text-center align-middle">@dosage.route</td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        <table class="table table-hover text-center align-middle align-content-center">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dispenseRequest.validityPeriod_start)</th>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dispenseRequest.validityPeriod_end)</th>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dispenseRequest.quantity)</th>
                                                                    <th class="text-center align-middle">@Html.DisplayNameFor(model => model.dispenseRequest.expectedSupplyDuration)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-center align-middle">@item.dispenseRequest.validityPeriod_start</td>
                                                                    <td class="text-center align-middle">@item.dispenseRequest.validityPeriod_end</td>
                                                                    <td class="text-center align-middle">@item.dispenseRequest.quantity.Value @item.dispenseRequest.quantity.Unit</td>
                                                                    <td class="text-center align-middle">@item.dispenseRequest.expectedSupplyDuration.Value @item.dispenseRequest.expectedSupplyDuration.Unit</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @*@Html.ActionLink("Update", "Update", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })*@
                                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                                                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
