@model IEnumerable<FHIR_Demo.Models.ObservationViewModel>

@{
    ViewBag.Title = "Index";
    string FHIR_url = "";
    if (Request.Cookies["FHIR_url"] != null)
    {
        FHIR_url = Request.Cookies["FHIR_url"].Value;
    }
    string FHIR_Token = "";
    if (Request.Cookies["FHIR_Token"] != null)
    {
        FHIR_Token = Request.Cookies["FHIR_Token"].Value;
    }
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Ajax.BeginForm("GetRecord", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "ajaxTargetDiv",
                        }))
                        {
                            <label for="exampleInputEmail1">FHIR Server URL & Token</label>
                            <div class="input-group mb-3">
                                <input type="url" name="url" class="form-control" placeholder="http://hapi.fhir.org/baseR4" value="@FHIR_url">
                                <input type="text" name="token" class="form-control" placeholder="token" value="@FHIR_Token">
                            </div>
                            <label for="exampleInputEmail1">REST搜尋</label>
                            <div class="input-group mb-3">
                                <input type="text" name="search" class="form-control" placeholder="search" value="">
                                <div class="input-group-append">
                                    <button type="Submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        }
                        <hr>
                        <div class="table-border-style" id="ajaxTargetDiv">
                            @*@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
            {
                <script type="text/javascript">
                   alert("@ViewBag.AlertMessage");
                   ViewBag.AlertMessage = "";
                </script>
            }*@
                            @if (ViewBag.status != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @ViewBag.status
                                </div>
                            }
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                            else
                            {
                                @*<pre class="json-card"></pre>*@
                                <p>
                                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center align-middle align-content-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.status)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.subject)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.basedOn)
                                                </th>
                                                @*<th class="text-center align-middle" style="width:5%">
                                    @Html.DisplayNameFor(model => model.catogory)
                                </th>*@
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.effectiveDateTime)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.Code_value.code_display)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.Code_value.value)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">
                                                    @Html.DisplayNameFor(model => model.component)
                                                </th>
                                                <th class="text-center align-middle" style="width:5%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.status)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.subject)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.basedOn)
                                                    </td>
                                                    @*<td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.catogory)
                                    </td>*@
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.effectiveDateTime)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.Code_value.code_display)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @Html.DisplayFor(modelItem => item.Code_value.value)
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @if (item.component != null)
                                                        {
                                                            foreach (var com in item.component)
                                                            {
                                                                Html.DisplayFor(modelItem => item.Code_value.code_display);@: :
                                                                Html.DisplayFor(modelItem => item.Code_value.value); <br>
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-center align-middle">
                                                        @*@Html.ActionLink("Update", "Update", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })*@
                                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                                                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
